.locationContainer{
    width: 100%;
    height: fit-content;
    background-color: #082c63;
}

/*  COLOR ROJO: #9F0101   
    COLOR AZUL: #082c63
    COLOR AMARILLO: #E5B80B
*/


.locationFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8vmin;
    margin: 0 10vmin;
    border: 1px solid beige;
    border-radius: 5px;
}

.title h2{
    font-size: 2em;
    margin-bottom: 5px;
    text-shadow: none;
}

.title p{
    text-align: center;
    letter-spacing: 2em;
    font-size: 2em;
    color: #9F0101;
}

.locationDetails{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.locationInfo{
    padding: 30px 0;
}

.locationInfo h2{
    font-size: 1.5em;
    color: #E5B80B;
    background-color: #9F0101;
    border-radius: 8px;
    line-height: 1.5;
    margin-bottom: 0.5em;
}

.locationInfo h3{
    font-size: 1.2em;
    color: #E5B80B;
    line-height: 1.5;
}

.locationInfo p{
    font-size: 1em;
    font-weight: 300;
    color: beige;
    line-height: 1.5;
    margin-bottom: 10px;
}