body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #E5B80B;
  text-shadow: 2px 2px 2px rgba(0,0,0, 0.2);
  background-color: #082c63;
}

h1, h2, h3{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}